* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#map {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#menu {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  font-family: "Open Sans", sans-serif;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #1f1c2c 0%,
    #928dab 51%,
    #1f1c2c 100%
  );
  margin: 5px;
  padding: 5px 8px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

input[type="radio"] {
  display: none;
}
